.project {
    font-size: 2rem;
    margin: 3rem;
    padding: 0 2.5rem 2rem;
    position: relative;
    opacity: .3;
    width: 40%;
    
    &-wrapper {
        grid-column: 1/11;
        text-align: center;
        position: relative;
        display: flex;
        flex-direction: column;
    }
    
    &-container {
        width: 100%;
        display: inline-flex;
        justify-content: center;

        &:first-of-type {
            .project:last-of-type {
                border-right: .4rem solid;
                border-top: .4rem solid;

                &:hover {
                    border: none;
                }
            }

            .project:first-of-type {
                border-left: .4rem solid;
                border-top: .4rem solid;
                
                &:hover {
                    border: none;
                }
            }
            
            
        }
        
        &:last-of-type {
            .project:last-of-type {
                border-right: .4rem solid;
                border-bottom: .4rem solid;
                
                &:hover {
                    border: none;
                }
            }
            
            .project:first-of-type {
                border-left: .4rem solid;
                border-bottom: .4rem solid;
                
                &:hover {
                    border: none;
                }
            }
        }
    }
    
    &-header {
        font-size: 5rem;
        margin-bottom: 8.5rem;

        &::after{
            content: '';
            position: absolute;
            border-bottom: solid $teal .1rem;
            top: 7.5rem;
            width: 30%;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &:hover {
        box-shadow: #dddddd 0 0 .8rem .5rem;
        border: none;
        opacity: 1;
        padding: 0 3.5rem 2rem;
        transform: scale(1.05, 1.15);
    }

    &-title {
        text-decoration: underline;
        font-style: italic;
        text-align: center;
        display: inline-block;
        margin: 2rem 0 1.5rem;
        max-width: 60%;
        vertical-align: bottom;
    }

    p {
        margin: 0 0 1.5rem;
    }

    
    .img {
        width: 100%;
        cursor: pointer;
        
        &-container {
            position: relative;
            max-width:90%;
            margin-top: 3rem;
            
            &:hover {
                cursor: pointer;
            }
        }
        
        &-span {
            color: #ffffff;
            font-style: italic;
            font-weight: bold;
            font-size: 2.5rem;
            position: absolute;
            bottom: 5rem;
            left: 50%;
            transform: translateX(-50%);

            img {
                width: 2.5rem;
                color: #ffffff;
                margin-left: 1rem;
            }
        }
    }
}