.intro {
    font-size: 2.2rem;
    color: $lightOrange;
    text-align: center;
    width: 75vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    height: 100vh;

    &::before {
        content: 'About';
        position: absolute;
        border-bottom: solid $darkOrange 1px;
        top: 12rem;
        width: 30%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 48px;
    }

    p {
        margin-bottom: 2rem;
        padding: 1rem 0;

        &:hover {
            background-color: #aaaaaa;
            color: $darkOrange;
        }

        &:last-of-type {
            position: relative;

            &::after {
                content: '';
                position: absolute;
                border-bottom: solid $darkOrange 1px;
                bottom: -3.5rem;
                width: 30%;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
    
}