.intro {
    grid-column: 2/10;
    grid-row: 5/6;
    font-size: 2.5rem;
    color: $lightOrange;
    position: relative;
    text-align: center;

    &::before {
        content: '';
        position: absolute;
        border-bottom: solid $darkOrange 1px;
        top: -2.5rem;
        width: 30%;
        left: 50%;
        transform: translateX(-50%);
    }

    p {
        margin-bottom: 2rem;
        padding: 1rem 0;

        &:hover {
            background-color: #aaaaaa;
            color: $darkOrange;
        }

        &:last-of-type {
            position: relative;

            &::after {
                content: '';
                position: absolute;
                border-bottom: solid $darkOrange 1px;
                bottom: -3.5rem;
                width: 30%;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
    
}

.about {

    position: fixed;
    left: -10vw;
    top: 0;
    transition: left 1s;
    color: $lightOrange;
    font-size: 2.2rem;
    z-index: 1;

    &-wrapper {
        position: relative;
    }

    &-to-nav {
        transition: left 1s .7s;
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}