$teal: #20E9FF;
$darkOrange: #c45a14;
$lightOrange: #ff7e28;

.hidden {
    visibility: hidden;
}

.transparent {
    opacity: 0;
    transition: opacity 1s;
}

.opaque {
    opacity: 1;
    transition: opacity 2s;
}

.none {
    display: none;
}

.shake {
    animation: shake .07s linear;
}

.shook {
    animation: shook .07s linear
}

a {
    text-decoration: none;
    color: $teal;
}

.link-arrow {
    position: fixed;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    fill: $lightOrange;
    color: $lightOrange;
    font-size: 20px;
    height: fit-content;
    opacity: .7;

    &:hover {
        opacity: 1;
    }

    .down-arrow {
        display: flex;
        flex-direction: column;
        text-align: center;

        svg {
            width: 65px;
        }
    }

    &.up-arrow {
        top: 25px;
        color: $teal;

        svg {
            fill: $teal;
            transform: rotateX(180deg);
        }
    }
}