$teal: #20E9FF;
$darkOrange: #c45a14;
$lightOrange: #ff7e28;

.hidden {
    visibility: hidden;
}

.transparent {
    opacity: 0;
    transition: opacity 1s;
}

.opaque {
    opacity: 1;
    transition: opacity 2s;
}

.none {
    display: none;
}

.shake {
    animation: shake .07s linear;
}

.shook {
    animation: shook .07s linear
}