$darkBlue: #1d3557;
$dullBlue: #457b9d;
$red: #e63946;
$lightBlue: #a8dadcbf;
$cream: #f1faee;

.hidden {
    visibility: hidden;
}

.transparent {
    opacity: 0;
    transition: opacity 1s;
}

.opaque {
    opacity: 1;
    transition: opacity 2s;
}

.none {
    display: none;
}

.shake {
    animation: shake .07s linear;
}

.shook {
    animation: shook .07s linear
}

a {
    text-decoration: none;
    color: $darkBlue;
}

.link-arrow {
    position: fixed;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    fill: $red;
    color: $red;
    font-size: 20px;
    height: fit-content;
    opacity: .7;

    &:hover {
        opacity: 1;
    }

    .down-arrow {
        display: flex;
        flex-direction: column;
        text-align: center;

        svg {
            width: 65px;
        }
    }

    &.up-arrow {
        top: 25px;
        color: $darkBlue;

        svg {
            fill: $darkBlue;
            transform: rotateX(180deg);
        }
    }
}