.contact {
    &-header {
        font-size: 5rem;

        &::after {
            content: '';
            position: absolute;
            border-bottom: 2px $teal solid;
            width: 40%;
            min-width: 300px;
            max-width: 600px;
            height: 6.5rem;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &-form {
        margin-top: 5rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        position: relative;
        
        &-input {
            width: 50%;
            min-width: 250px;
        }

        &-wrapper {
            text-align: center;
            font-size: 3rem;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            height: 100vh;

            input, textarea {
                font-family: 'Quicksand', sans-serif;
                font-size: 2rem;
                box-shadow: rgba(150,150,150,.5) 1rem 1rem 2rem;
                resize: none;
                border-radius: .5rem;
                min-width: 48%;
                height: 3.5rem;
                margin: .5rem;
                padding: .2rem .5rem;
            }
            
            textarea {
                min-width: 98%;
                height: 25rem;
            }

        }

        &-submit {
            background-color: $darkOrange;
            border-radius: .5rem;
            border: none;
            padding: .5rem .3rem;
            color: #dddddd;
            font-size: 2rem;
            margin-top: 3rem;
            width: 10%;
            min-width: 9.5rem;
            box-shadow: #555555 .5rem .5rem 2rem;
            
            &:hover {
                box-shadow: #555555 -.5rem -.5rem 2rem;
                cursor: pointer;
                background-color: $lightOrange;
            }
        }
    }

    &-other {
        margin: 3rem 0;
    }
}