.contact {
    &-form {
        &-wrapper {
            grid-column: 1/11;
            text-align: center;
            margin: 3rem 0;
            font-size: 3rem;

        
            input, textarea {
                font-family: 'Quicksand', sans-serif;
                font-size: 2rem;
                // box-shadow: rgba(32,233,255,.5) 1rem 1rem 2rem;
                resize: none;
                border-radius: .5rem;
                width: 25%;
                height: 3.5rem;
                margin: .5rem;
                padding: .2rem .5rem;
            }

            textarea {
                width: 50%;
                height: 10rem;
            }

        }

        &-header {

        }

    }
}