.contact {
    position: fixed;
    left: -15vw;
    font-size: 2rem;
    transition: left 1s;
    z-index: 1;
    color: $lightOrange;
    transform: translateX(-50%);
    
    &-to-nav {
        transition: left 1s .8s;
        left: 50%;
    }

    &-form {
        margin-top: 5rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        position: relative;

        span {
            width: 50%;
        }
        
        &-wrapper {
            grid-column: 1/11;
            text-align: center;
            margin: 25rem 0 5rem;
            font-size: 3rem;
            position: relative;

            &::after{
                content: '';
                position: absolute;
                border-bottom: solid $lightOrange 1px;
                top: 6.5rem;
                width: 40%;
                min-width: 300px;
                left: 50%;
                transform: translateX(-50%);
            }
        
            input, textarea {
                font-family: 'Quicksand', sans-serif;
                font-size: 2rem;
                box-shadow: rgba(150,150,150,.5) 1rem 1rem 2rem;
                resize: none;
                border-radius: .5rem;
                min-width: 48%;
                height: 3.5rem;
                margin: .5rem;
                padding: .2rem .5rem;
            }
            
            textarea {
                min-width: 98%;
                height: 25rem;
            }

        }

        &-header {
            color: $lightOrange;
            position: relative;
            font-size: 5rem;
            left: 0;
            transition: left 1s 1s;
            
            &-to-nav {
                transition: left 1s;
                left: -100vw;
            }
        }

        &-submit {
            background-color: $darkOrange;
            border-radius: .5rem;
            border: none;
            padding: .5rem .3rem;
            color: #dddddd;
            font-size: 2rem;
            margin-top: 3rem;
            width: 10%;
            min-width: 7.5rem;
            box-shadow: #555555 .5rem .5rem 2rem;
            
            &:hover {
                box-shadow: #555555 -.5rem -.5rem 2rem;
                cursor: pointer;
                background-color: $lightOrange;
            }
        }
    }

    &-other {
        margin: 3rem 0;
    }
}