.logo {
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;

    &-github {

        &-slide-in {
            right: 2rem;
            transition: right 1.2s;
        }
        
        &-slide-out {
            transition: right 1.5s;
            right: 110vw;
        }
    }
    
    &-linkedin {
        
        &-slide-in {
            left: 2rem;
            transition: left .5s .5s;
        }
        
        &-slide-out {
            left: -10vw;
            transition: left .5s .3s;
        }
    }

    &-mail {
        font-size: 5rem;
        line-height: 4rem;
    }
}