.app {

    color: #20E9FF;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 130vh;

    &-header {
        text-align: center;
        grid-column: 1/11;
        margin-top: 30vh;
        height: 70vh;
        display: flex;
        flex-direction: column;
    }
    
    &-myName {
        display: block;
        font-size: 10rem;
        width: 100%;
        
        &.inview {
            position: relative;
            animation: title 1s 1 ease-in;
        }
    }
    
    &-descriptor {
        display: inline-block;
        // width: 100%;
        font-size: 5rem;
        // visibility: hidden;

        &-thinker {

            &.inview {
                animation: subtitle 1s 1s 1 ease-in;
            }

            &.outview {
                position: relative;
                left: -100vw;
                visibility: hidden;
            }
        }
    }

}

@keyframes title {
    0% {margin-top: -50vh}
}

@keyframes subtitle {
    100% {bottom: 0; visibility: visible;}
}