.app {

    color: $darkBlue;
    
    &-header {
        text-align: center;
        padding-top: 32vh;
        height: 60vh;
        display: flex;
        flex-direction: column;
    }
    
    &-myName {
        font-size: 10rem;
        width: 100%;
        
        &.inview {
            position: relative;
        }
        
        &.outview {
            position: relative;
            top: -100vh;
        }
    }
    
    &-descriptor {
        font-size: 5rem;

        @media screen and (max-width: 678px) {
            display: flex;
            flex-direction: column;
        }

        &-thinker {
            position: relative;
            border-right: .2rem solid;
            padding-right: 1.5rem;
            
            &.outview {
                animation: thinker .75s .45s ease-in;
                position: relative;
                left: -100vw;
            }
        }

        &-creator {
            position: relative;
            margin: 0 1.5rem;
            
            &.outview {
                animation: opacityShift 2.5s;
                opacity: 0;
            }
        }

        &-developer {
            position: relative;
            border-left: .2rem solid;
            padding-left: 1.5rem;
                        
            &.outview {
                animation: developer .75s .75s ease-in;
                position: relative;
                right: -100vw;
            }
        }
    }
    
}
