@import './page/Portfolio.scss';

@import './components/About/About.scss';
@import './components/Projects/Projects.scss';
@import './components/Contact/Contact.scss';

body {
  margin: 0;
  background-image: url('./port.png');
  background-size: cover;
  background-repeat: repeat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #dddddd;
  font-size: 10px;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}