@import './style-utils/utils.scss';
@import './style-utils/animations.scss';
@import './page/Portfolio.scss';
@import './components/Logos/Logos.scss';

@import './components/About/About.scss';
@import './components/Projects/Projects.scss';
@import './components/Contact/Contact.scss';
@import './components/Nav/Nav.scss';

body {
    margin: 0;
    background-color: #f1faee;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $darkBlue;
    height: 100vh;
    font-family: 'Quicksand', sans-serif;
    overflow-x: hidden;
}

html {
    font-size: 10px;
    scrollbar-width: 0;
}

::-webkit-scrollbar {
    width: 0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

li {
    list-style: none;
}